# ignore compiler outputs
Debug/
Binaries/
Includes/

# ignore workstation-specific Eclipse files
*.xml
language.settings.xml
.settings/
.cproject
.project
.build.properties
.build.xml
sysProps.xml

# ignore Eclipse temporary files
*~ 
RemoteSystemsTempFiles/ 
